body{
    background-color: #f7f6f7;
    text-align: center;
}

.intro-container{ /*전체 감싸줌*/
    display: grid;
    grid-template-areas: 
        "logo door" 
        "footer footer";
 grid-template-columns: 1fr 1fr; 
    grid-template-rows: 751px 47px; /*1080-47-330한 값+현재 내 노트북 최적 사이즈, 바닥 47로 설정한 값*/
    position: relative;
}
.logo{
    grid-area:logo;
    max-width: 40%;
}
#logo{ /* 로고 이미지*/
    position: absolute;
    max-width: 40%;
    top: 15em;
}
.door{
    grid-area: door;
    display: inline-block;
    margin-right: 30px;
}

.door img{
    position: absolute;
    max-width: 25%;
    max-height: 60%;
    top: 12em;
   /*  ui팀이 설정한 로고 크기 width: 408px;
    height: 685px; */
}
#flip{
     transform-origin: right;
}
#flip:hover{
    transform: perspective(1200px) rotateY(65deg);
   transition: 1.1s;
    cursor: pointer;
}
.footer{ /*바닥*/
    grid-area: footer;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 134px;
    background-color: dimgray;/*색 설정해야함*/
    z-index: -1;
}
